@font-face {
  font-family: "JejuGothic";
  src: url("./font/JejuGothic.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}


.gray-background {
  background: darkgray;
}

/* main(header) */
.main {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  z-index: 1; /* after의 index 값 */
  overflow: hidden;
  /* 배경 상단고정 및 화면 전체 표시 */
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}
.main::after{
  background-image: url(./images/main.png);
  width: 100%;
  max-width: 100%;
  height: 100vw;
  content: "";
  transform: scale(1.02);
  filter: blur(0.8px);
  z-index: -1; /* after의 index 값 */
  /* 배경 상단고정 및 화면 전체 표시 */
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  display: flex;
}
span {
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: background-size 1.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
}
.main_title_hello {
  font-family: Noto Sans KR,sans-serif;
  font-size: 2vw;
  background-image: radial-gradient(circle farthest-corner at center center, #fff 0%, #fff 50%, transparent 50.1%);
  background-position: 50% 50%;
  background-size: 0% 0%;
  /* 글자 이미지 정가운데 배치 */
  position: absolute;
  top: 40%;
  left: 50%; 
  transform:translateX(-50%);
}
.main_title_about {
  white-space: pre;
  font-family: Noto Sans KR,sans-serif;
  font-size: 2vw;
  background-image: radial-gradient(circle farthest-corner at center center, #fff 0%, #fff 50%, transparent 50.1%);
  background-position: 50% 50%;
  background-size: 0% 0%;
  /* 글자 이미지 정가운데 배치 */
  position: absolute;
  top: 40%;
  left: 50%; 
  transform:translateX(-50%);
}
/* main(header) */

/* about_me */
.me {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.info_me {
  flex-direction: column;
  margin-left: 3vw;
  margin-right: 6vw;
  margin-top: 10vw;
  width: 25%;
  text-align: center;
}
.id_photo {
  height: 60%;
  width: 58%;
  border: none;
  box-shadow: 0px 0px 20px #000;
}
.name {
  text-align:center;
  /* 개행 적용 */
  white-space: pre-line;
  font-family:JejuGothic;
  font-size: 1.5rem;
}
.info {
  text-align:center;
  /* 개행 적용 */
  white-space: pre-line;
  font-family:JejuGothic;
  font-size: 0.8rem;
}
.about {
  text-align:left;
  /* 개행 적용 */
  white-space: pre-line;
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-family:JejuGothic;
  font-size: 10rem;
  font-weight: 900;
}
/* about_me */



@media ( max-width: 1024px ) {
  .main {
    height: 100vmax;
    width: 100vmax;
  }

  .main::after {
    height: 100vmax;
    width: 100vmax;
  }
  .main_title_hello {
    top: 50%;
  }
  .main_title_about {
    top: 50%;
  }
}
